<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{% block description %}{{ config.description }}{% endblock description %}">
        <title>{% block title %}{{ config.title }}{% endblock title %}</title>
        <link rel="stylesheet" href="/style.css">
    </head>

    <body>
        <div class="menu">
            {% block menu %}
            <div class="project-name menu-title">xrcf</div>
            {% endblock menu %}
        </div>
        <div class="content">
            {% block content %}
            <div class="hero">
                <div style="margin-left: auto; margin-right: auto; text-align: center; max-width: 55ch;">
                    <h1 class="project-name" style="font-size: 6vh; margin-bottom: 0px;">xrcf</h1>
                    <p style="font-size: 2vh; margin-top: 0px;">eXtensible and Reusable Compiler Framework</p>
                    <p style="margin-top: 6vh; font-size: 2.5vh; line-height: 150%;">
                        A compiler framework for building your own compiler that can generate code for CPUs, GPUs, TPUs, and beyond.
                    </p>
                </div>
            </div>
            {% endblock content %}
        </div>
    </body>
</html>